/* 
===========
variables 
===========
*/

:root {
  --clr-white: #fff;
  --clr-red: red;
  --clr-blue: blue;
  --clr-yellow: yellow;
}

/*
===========
Global Settings 
===========
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: cornsilk;
  height: 100vh;
}

/*
===========
Box Container Setting
===========
*/

.box-container {
  /* border: 5px solid black; */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  border: 3px solid black;
  width: 300px;
  height: 300px;
  position: relative;
}

h3 {
  /* border: 3px solid brown; */
  position: absolute;
  bottom: -2.5rem;
  right: 0;
}

.cell {
  border: 3px solid black;
}

/*
===========
Media Query
===========
*/

@media screen and (min-width: 700px) {
  .container {
    border: 3px solid black;
    width: 400px;
    height: 400px;
    position: relative;
  }

  h3 {
    /* border: 3px solid brown; */
    position: absolute;
    bottom: -2.5rem;
    right: 0;
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 992px) {
  .container {
    border: 3px solid black;
    width: 500px;
    height: 500px;
    position: relative;
  }

  h3 {
    /* border: 3px solid brown; */
    position: absolute;
    bottom: -2.5rem;
    right: 0;
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 1192px) {
  .container {
    border: 3px solid black;
    width: 600px;
    height: 600px;
    position: relative;
  }

  h3 {
    /* border: 3px solid brown; */
    position: absolute;
    bottom: -2.5rem;
    right: 0;
    font-size: 2rem;
  }
}
